<p id="notice"><%= notice %></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>TITLE/BUILDING NAME</th>
      <th>SUBMITTED BY</th>
      <th>DATE</th>
      <th>STATUS</th>
      <th>VERSION</th>
    </tr>
  </thead>

  <tbody>
    <% @room.each do |room| %>
      <tr>
        <td><%= room.name %></td>
        <td><%= room.user.username %></td>
        <td><%= room.created_at.to_date %></td>
        <td><%= room.status %></td>
        <td><%= room.version %></td>
      </tr>
    <% end %>
  </tbody>
</table>