
<table class="table table-striped">
  <thead>
    <tr>
      <th>TITLE/BUILDING NAME</th>
      <th>SUBMITTED BY</th>
      <th>DATE</th>
      <th>STATUS</th>
      <th>VERSION</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.version.name %></td>
        <td><%= report.version.room.user.username %></td>
        <td><%= report.version.created_at.to_date %></td>
        <td><%= report.version.status %></td>
        <td><%= report.version.typ %></td>
        <td><%= link_to 'EDIT' , edit_version_path(report.version) , method: :GET %></td>
        <td><%= link_to 'DELETE' , version_path(report.version) , method: :DELETE , data: { confirm: 'Are you sure?' }%></td>
        <td><%= link_to 'VIEW' , version_path(report.version) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @reports%>