<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @version.name %>
</p>

<p>
  <strong>Street:</strong>
  <%= @version.street %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @version.floor %>
</p>

<p>
  <strong>City:</strong>
  <%= @version.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @version.country %>
</p>

<p>
  <strong>Description:</strong>
  <%= @version.description %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @version.direction %>
</p>

<p>
  <strong>Link:</strong>
  <%= @version.link %>
</p>

<%= link_to 'Edit', edit_version_path(@version) %> |
<%= link_to 'Back', :back %>
<%= link_to 'Report', report_path %>