<div class="c-content clearfix">
    	<div class="contact-us">
        	<div class="row">
        		<div class="col-md-12">
        			<h1>About Us</h1>
            		<p>The purpose of this site is to list Liat of all prayer area, including mosque, quiet room, etc, in Singapore at the moment. We may include other countries soon.<br>
So, before you go out, check out this page and plan where to pray properly. Remember,there is no excuse not to pray. Even if there is no praying area nearby, you can always. Just bring your prayer mate in case.<br>
PrayWhere.com does not guarantee the accuracy of the information provided here. As such, if there is a wrong information or a not so accurate information, kindly connect to your facebook page and let the admin know.Last but not least, share this with all your friends, for the benefits of everyone.</p>
				</div>
            </div>
            <div class="row">
            	<div class="col-md-12">
                	<h2>Contact Us</h2>
                </div>
            </div>
            <%= form_tag( action: "message" , method: "post") do%>
            <div class="row">
            	<div class="col-md-5">
                	<!-- <input type="text" class="form-control-r" placeholder="your name"> -->
                    <%= text_field_tag "name" , nil, class: "form-control-r" , placeholder: "your name" %>
                </div>
                <div class="col-md-7">
                	<!-- <input type="email" class="form-control-r" placeholder="your email"> -->
                    <%= email_field_tag "email" , nil, class: "form-control-r" , placeholder: "your email" %>
                </div>
            </div>
            <div class="row">
            	<div class="col-md-12">
                	<!-- <input type="text" class="form-control-r" placeholder=""> -->
                    <%= text_field_tag "subject" , nil, class: "form-control-r" , placeholder: "subject line" %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- <textarea class="form-control-message" rows="5" id="comment" placeholder="your message"></textarea> -->
                    <%= text_area_tag "message" , nil, class: "form-control-message" , placeholder: "your message" , rows: 5 %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input id="email" class="form-login" type="submit" value="submit" placeholder="">
                </div>
            </div>
            <% end %>
        </div>
    </div>