<!DOCTYPE html>
<html>
<head>
  <title>PrayWhere</title>
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="row text_center_adjust">
			<h3 style="float: left;">PrayWhere</h3>
			<h3 style="float: right;">Hello, admin! </h3>
			<% if user_signed_in? %>
				<h5 style="float: right; margin-right: 20px;margin-top: 25px;"><%= link_to "SignOut" , destroy_user_session_path , method: :delete%></h5>
		    <% end %>
		</div>
	</div>
	<div class="container-fluid" style="border-top: 5px solid #00ADFF;">
		<div class="row" style="margin-top: 1%;">
			<div class="col-md-2 dash">
				<ul class="nav nav-pills nav-stacked" >
				    <li><h4>DASHBOARD</h4></li>
				    <li class="<%= current_page?(controller: 'admin' , action: 'room_entries')? 'active' : ' ' %>"><%= link_to ' ENTRIES' , admin_room_entries_path ,:class =>"glyphicon glyphicon-file" %></li>
				    <li class="<%= current_page?(controller: 'admin' , action: 'user')? 'active' : ' ' %>"><%= link_to ' USERS' , users_path ,:class =>"glyphicon glyphicon-user"%></li>
				    <li><a href="#" class="glyphicon glyphicon-cog"> TOOLS</a></li>
				    <li class=" <%= current_page?(controller: 'admin' , action: 'rooms')? 'active' : ' ' %>"><%= link_to ' SUBMISSIONS', admin_rooms_path , :class =>"glyphicon glyphicon-list-alt" %>
				    </li>
				    <li class="<%= current_page?(controller: 'admin' , action: 'reports')? 'active' : ' ' %>"><%= link_to ' REPORTS' , admin_reports_path ,:class =>"glyphicon glyphicon-file" %>
				    	<ul>
				    		<li><%= link_to ' PRE-APPROVAL' , admin_reports_pre_approval_path %></li>
				    		<li><%= link_to ' BETTER VERSION' , admin_reports_better_version_path %></li>
				    		<li><%= link_to ' SPAM/STATUS' , admin_reports_spam_path %></li>
				    	</ul>
				    </li>
				    <li><a href="#" class="glyphicon glyphicon-stats"> ANALYTICS</a></li>
				</ul>
			</div>
			<div class="col-md-10 admin_yield">
				<%= yield %>
			</div>
		</div>
	</div>
</body>
</html>