<!DOCTYPE html>
<html>
<head>
  <title>PrayWhere</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<div class="row" style="border-bottom: 5px solid #00ADFF;">
		<div class="col-md-2">
			<h3>PrayWhere</h3>
		</div>
		<div class="col-md-5">
			<h4 class="text_center_adjust" style="font-style: italic;">"Prayer Is One Of The Foundation Of Being A Muslim"</h4>
		</div>
		<div class="col-md-5">
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="#">HOME</a></li>
		      <li><a href="#" >ABOUT</a></li>
		      <li><a href="#">CONTACT US</a></li>  
		    </ul>

		    <ul class="nav navbar-nav" style="float: right;">
		    	<% if user_signed_in? %>
					<li><%= current_user.username %></li>
					<li><%= link_to "SignOut" , destroy_user_session_path , method: :delete%></li>
				<% else %>
			    	<li><a href="#" >Register</a></li>
			    	<li><a href="#" >Login</a></li>
			    <% end %>
		    </ul>
		</div>
	</div>
</div>


<%= yield %>

</body>
</html>
